{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "style.css" %}">
    <title>Technical Difficulties</title>
</head>
<body>
    <div class="problem_tecnic">
        <h1>Oops! Something Went Wrong</h1>
        <p>We're experiencing technical difficulties. Please try again later.</p>
        <p>If the issue persists, you can contact our support team at <a href="mailto:cristiannievesdeveloper@gmail.com">cristiannievesdeveloper@gmail.com</a></p>
        <img src="{% static "img/Error500.png" %}" alt="">
    </div>
</body>
</html>